.buttonmargin {
	margin: 0 0 10px 0;
}
.pointer {
	cursor: pointer;
}
.heightelement {
	height: 200px;
	margin: 0 0 5px 0;
}
.labelgallery {
	background: orange;
	padding:10px;
	font-weight: bold;
}
.layoutgallery {
	padding:10px;
}
.marginbottom10 {
	margin : 0 0 12px 0;
}
.border1px {
	border: 2px solid #67C5DF;
	padding : 0;
	margin: 0 0 5px 0;
	border-radius: 3px;
}
.border1pxgreen {
	border: 2px solid #01BC8C;
	padding : 0;
	margin: 0 0 5px 0;
	border-radius: 3px;
}
.infolabel {
	border-radius: 3px;
	width:100%;
	background-color: #67C5DF;
	height: 34px;
	margin: 0 0 2px 0;
}
.infolabelgreen {
	border-radius: 3px;
	width:100%;
	background-color: #01BC8C;
	height: 34px;
	margin: 0 0 2px 0;
}