/* flatbuttons */

li {
    list-style: none;
}

.flatbuttons {
    width: 100%;
    margin: 0;
    padding-left: 4%;
    text-align: center;
}

.flatbuttons ul {
    padding: 20px;
}

.flatbuttons ul li {
    float: left;
    padding: 5px;
    list-style: none;
    font-size:10px;
}

.flatbuttons ul li a {
    text-decoration: none;
    font-family: lato !important;
    font-size:12px;
}

.flatbuttons div {
    clear: both;
    padding-top: 40px;
    padding-bottom: 0;
}

/* flatbuttons for small width. */

.flatbuttons_small {
    width: 100%;
    padding-left: 0;
    text-align: center;
    margin: -20px;
}

.flatbuttons_small ul {
    padding: 20px;
}

.flatbuttons_small ul li {
    width: 120px;
    float: left;
    padding: 10px;
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 20px;
    list-style: none;
}

.flatbuttons_small ul li a {
    text-decoration: none;
    font-family: lato !important;
}

/* styles for button sizes */

.flatbuttons_size {
    width: 100%;
    margin: 0;
    padding-left: 0;
    text-align: center;
}

.flatbuttons_size ul {
    padding: 20px;
}

.flatbuttons_size ul li {
    width: auto;
    float: left;
    padding: 10px;
    list-style: none;
    clear: both;
}

.flatbuttons_size ul li a {
    text-decoration: none;;
}

.flatbuttons_size ul li .button-tiny {
    border: 1px solid #418BCA;
    color: #fff;
    background: #418BCA;
}

/* Button Group style */

.buttongroup li {
    margin: 15px 0;
}
.buttongroup li .button{
    font-size:12px;
}

.button-group .button:not(:last-child){
    border-right:1px solid rgba(119, 119, 119, 0.22) !important;
}
/* Button Group style */

.dorpdown-buttons li {
    float: left;
    padding: 10px;
}

a, a:hover {
    text-decoration: none;
}

/*quick icons*/

.panel-body .btn:not(.btn-block) {
    width: 120px;
    margin-bottom: 10px;
}

.icon-buttons .btn-labeled.btn:not(.btn-block) {
    width:150px;
}

.icon-buttons .btn-icon-left span{
    left:-32px;
}

.icon-buttons .btn-icon-left2 span{
    left:-27px;
}
.icon-buttons .btn-icon-right span{
    left:27px;
}
/* Social Dashboard*/

.f {
    font-size: 60px;
    text-align: right;
    position: absolute;
    top: 2px;
    right: 27px;
    outline: none;
}

a {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

/* Visitor */

a.visitor i, .visitor h4.list-group-item-heading {
    color: #F89A14;
}

a.visitor:hover {
    background-color: #F89A14;
}

a.visitor:hover * {
    color: #FFF;
}

/* Facebook */

a.facebook-like i, .facebook-like h4.list-group-item-heading {
    color: #418BCA;
}

a.facebook-like:hover {
    background-color: #418BCA;
}

a.facebook-like:hover * {
    color: #FFF;
}

/* Google */

a.google-plus i, .google-plus h4.list-group-item-heading {
    color: #EF6F6C;
}

a.google-plus:hover {
    background-color: #EF6F6C;
}

a.google-plus:hover * {
    color: #FFF;
}

/* Twitter */

a.twitter i, .twitter h4.list-group-item-heading {
    color: #67C5DF;
}

a.twitter:hover {
    background-color: #67C5DF;
}

a.twitter:hover * {
    color: #FFF;
}

/* Linkedin */

a.linkedin i, .linkedin h4.list-group-item-heading {
    color: #418BCA;
}

a.linkedin:hover {
    background-color: #418BCA;
}

a.linkedin:hover * {
    color: #FFF;
}

/* Tumblr */

a.tumblr i, .tumblr h4.list-group-item-heading {
    color: #418BCA;
}

a.tumblr:hover {
    background-color: #418BCA;
}

a.tumblr:hover * {
    color: #FFF;
}

/* Youtube */

a.youtube i, .youtube h4.list-group-item-heading {
    color: #EF6F6C;
}

a.youtube:hover {
    background-color: #EF6F6C;
}

a.youtube:hover * {
    color: #FFF;
}

/* Vimeo */

a.vimeo i, .vimeo h4.list-group-item-heading {
    color: #67C5DF;
}

a.vimeo:hover {
    background-color: #67C5DF;
}

a.vimeo:hover * {
    color: #FFF;
}

/*Group buttons*/

.ui-group-buttons .or {
    position: relative;
    float: left;
    width: .3em;
    height: 1.3em;
    z-index: 3;
    font-size: 12px
}

.ui-group-buttons .or:before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: 'or';
    background-color: #5a5a5a;
    margin-top: -.1em;
    margin-left: -.9em;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.55;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    border-radius: 500px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.ui-group-buttons .or:after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    width: .3em;
    height: 2.84em;
    background-color: rgba(0, 0, 0, 0);
    border-top: .6em solid #5a5a5a;
    border-bottom: .6em solid #5a5a5a
}

.ui-group-buttons .or.or-lg {
    height: 1.3em;
    font-size: 16px
}

.ui-group-buttons .or.or-lg:after {
    height: 2.85em
}

.ui-group-buttons .or.or-sm {
    height: 1em
}

.ui-group-buttons .or.or-sm:after {
    height: 2.5em
}

.ui-group-buttons .or.or-xs {
    height: .25em
}

.ui-group-buttons .or.or-xs:after {
    height: 1.84em;
    z-index: -1000
}

.ui-group-buttons {
    display: inline-block;
    vertical-align: middle
}

.ui-group-buttons:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.ui-group-buttons .btn {
    float: left;
    border-radius: 0
}

.ui-group-buttons .btn:first-child {
    margin-left: 0;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
    padding-right: 15px
}

.ui-group-buttons .btn:last-child {
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    padding-left: 15px
}

/*socail buttons*/

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social.btn-lg {
    padding-left: 61px
}

.btn-social.btn-lg :first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em
}

.btn-social.btn-sm {
    padding-left: 38px
}

.btn-social.btn-sm :first-child {
    line-height: 28px;
    width: 28px;
    font-size: 1.4em
}

.btn-social.btn-xs {
    padding-left: 30px
}

.btn-social.btn-xs :first-child {
    line-height: 20px;
    width: 20px;
    font-size: 1.2em
}

.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding-left: 0;
    padding-right: 0
}

.btn-social-icon :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social-icon.btn-lg {
    padding-left: 61px
}

.btn-social-icon.btn-lg :first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em
}

.btn-social-icon.btn-sm {
    padding-left: 38px
}

.btn-social-icon.btn-sm :first-child {
    line-height: 28px;
    width: 28px;
    font-size: 1.4em
}

.btn-social-icon.btn-xs {
    padding-left: 30px
}

.btn-social-icon.btn-xs :first-child {
    line-height: 20px;
    width: 20px;
    font-size: 1.2em
}

.btn-social-icon :first-child {
    border: none;
    text-align: center;
    width: 100% !important
}

.btn-social-icon.btn-lg {
    height: 45px;
    width: 45px;
    padding-left: 0;
    padding-right: 0
}

.btn-social-icon.btn-sm {
    height: 30px;
    width: 30px;
    padding-left: 0;
    padding-right: 0
}

.btn-social-icon.btn-xs {
    height: 22px;
    width: 22px;
    padding-left: 0;
    padding-right: 0
}

.btn-bitbucket {
    color: #fff;
    background-color: #205081;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket:hover, .btn-bitbucket:focus, .btn-bitbucket:active, .btn-bitbucket.active, .open .dropdown-toggle.btn-bitbucket {
    color: #fff;
    background-color: #183c60;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket:active, .btn-bitbucket.active, .open .dropdown-toggle.btn-bitbucket {
    background-image: none
}

.btn-bitbucket.disabled, .btn-bitbucket[disabled], fieldset[disabled] .btn-bitbucket, .btn-bitbucket.disabled:hover, .btn-bitbucket[disabled]:hover, fieldset[disabled] .btn-bitbucket:hover, .btn-bitbucket.disabled:focus, .btn-bitbucket[disabled]:focus, fieldset[disabled] .btn-bitbucket:focus, .btn-bitbucket.disabled:active, .btn-bitbucket[disabled]:active, fieldset[disabled] .btn-bitbucket:active, .btn-bitbucket.disabled.active, .btn-bitbucket[disabled].active, fieldset[disabled] .btn-bitbucket.active {
    background-color: #205081;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox {
    color: #fff;
    background-color: #1087dd;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox:hover, .btn-dropbox:focus, .btn-dropbox:active, .btn-dropbox.active, .open .dropdown-toggle.btn-dropbox {
    color: #fff;
    background-color: #0d70b7;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox:active, .btn-dropbox.active, .open .dropdown-toggle.btn-dropbox {
    background-image: none
}

.btn-dropbox.disabled, .btn-dropbox[disabled], fieldset[disabled] .btn-dropbox, .btn-dropbox.disabled:hover, .btn-dropbox[disabled]:hover, fieldset[disabled] .btn-dropbox:hover, .btn-dropbox.disabled:focus, .btn-dropbox[disabled]:focus, fieldset[disabled] .btn-dropbox:focus, .btn-dropbox.disabled:active, .btn-dropbox[disabled]:active, fieldset[disabled] .btn-dropbox:active, .btn-dropbox.disabled.active, .btn-dropbox[disabled].active, fieldset[disabled] .btn-dropbox.active {
    background-color: #1087dd;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook {
    color: #fff;
    background-color: #418BCA;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #30487b;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
    background-image: none
}

.btn-facebook.disabled, .btn-facebook[disabled], fieldset[disabled] .btn-facebook, .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled:active, .btn-facebook[disabled]:active, fieldset[disabled] .btn-facebook:active, .btn-facebook.disabled.active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook.active {
    background-color: #418BCA;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr {
    color: #fff;
    background-color: #ff0084;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr:hover, .btn-flickr:focus, .btn-flickr:active, .btn-flickr.active, .open .dropdown-toggle.btn-flickr {
    color: #fff;
    background-color: #d6006f;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr:active, .btn-flickr.active, .open .dropdown-toggle.btn-flickr {
    background-image: none
}

.btn-flickr.disabled, .btn-flickr[disabled], fieldset[disabled] .btn-flickr, .btn-flickr.disabled:hover, .btn-flickr[disabled]:hover, fieldset[disabled] .btn-flickr:hover, .btn-flickr.disabled:focus, .btn-flickr[disabled]:focus, fieldset[disabled] .btn-flickr:focus, .btn-flickr.disabled:active, .btn-flickr[disabled]:active, fieldset[disabled] .btn-flickr:active, .btn-flickr.disabled.active, .btn-flickr[disabled].active, fieldset[disabled] .btn-flickr.active {
    background-color: #ff0084;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-github {
    color: #fff;
    background-color: #444;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
    color: #fff;
    background-color: #303030;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
    background-image: none
}

.btn-github.disabled, .btn-github[disabled], fieldset[disabled] .btn-github, .btn-github.disabled:hover, .btn-github[disabled]:hover, fieldset[disabled] .btn-github:hover, .btn-github.disabled:focus, .btn-github[disabled]:focus, fieldset[disabled] .btn-github:focus, .btn-github.disabled:active, .btn-github[disabled]:active, fieldset[disabled] .btn-github:active, .btn-github.disabled.active, .btn-github[disabled].active, fieldset[disabled] .btn-github.active {
    background-color: #444;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-google-plus {
    color: #fff;
    background-color: #EF6F6C;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
    color: #fff;
    background-color: #ca3523;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
    background-image: none
}

.btn-google-plus.disabled, .btn-google-plus[disabled], fieldset[disabled] .btn-google-plus, .btn-google-plus.disabled:hover, .btn-google-plus[disabled]:hover, fieldset[disabled] .btn-google-plus:hover, .btn-google-plus.disabled:focus, .btn-google-plus[disabled]:focus, fieldset[disabled] .btn-google-plus:focus, .btn-google-plus.disabled:active, .btn-google-plus[disabled]:active, fieldset[disabled] .btn-google-plus:active, .btn-google-plus.disabled.active, .btn-google-plus[disabled].active, fieldset[disabled] .btn-google-plus.active {
    background-color: #EF6F6C;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram {
    color: #fff;
    background-color: #517fa4;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:hover, .btn-instagram:focus, .btn-instagram:active, .btn-instagram.active, .open .dropdown-toggle.btn-instagram {
    color: #fff;
    background-color: #446a89;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:active, .btn-instagram.active, .open .dropdown-toggle.btn-instagram {
    background-image: none
}

.btn-instagram.disabled, .btn-instagram[disabled], fieldset[disabled] .btn-instagram, .btn-instagram.disabled:hover, .btn-instagram[disabled]:hover, fieldset[disabled] .btn-instagram:hover, .btn-instagram.disabled:focus, .btn-instagram[disabled]:focus, fieldset[disabled] .btn-instagram:focus, .btn-instagram.disabled:active, .btn-instagram[disabled]:active, fieldset[disabled] .btn-instagram:active, .btn-instagram.disabled.active, .btn-instagram[disabled].active, fieldset[disabled] .btn-instagram.active {
    background-color: #517fa4;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active, .open .dropdown-toggle.btn-linkedin {
    color: #fff;
    background-color: #005f8d;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:active, .btn-linkedin.active, .open .dropdown-toggle.btn-linkedin {
    background-image: none
}

.btn-linkedin.disabled, .btn-linkedin[disabled], fieldset[disabled] .btn-linkedin, .btn-linkedin.disabled:hover, .btn-linkedin[disabled]:hover, fieldset[disabled] .btn-linkedin:hover, .btn-linkedin.disabled:focus, .btn-linkedin[disabled]:focus, fieldset[disabled] .btn-linkedin:focus, .btn-linkedin.disabled:active, .btn-linkedin[disabled]:active, fieldset[disabled] .btn-linkedin:active, .btn-linkedin.disabled.active, .btn-linkedin[disabled].active, fieldset[disabled] .btn-linkedin.active {
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest {
    color: #fff;
    background-color: #cb2027;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest:hover, .btn-pinterest:focus, .btn-pinterest:active, .btn-pinterest.active, .open .dropdown-toggle.btn-pinterest {
    color: #fff;
    background-color: #a81a20;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest:active, .btn-pinterest.active, .open .dropdown-toggle.btn-pinterest {
    background-image: none
}

.btn-pinterest.disabled, .btn-pinterest[disabled], fieldset[disabled] .btn-pinterest, .btn-pinterest.disabled:hover, .btn-pinterest[disabled]:hover, fieldset[disabled] .btn-pinterest:hover, .btn-pinterest.disabled:focus, .btn-pinterest[disabled]:focus, fieldset[disabled] .btn-pinterest:focus, .btn-pinterest.disabled:active, .btn-pinterest[disabled]:active, fieldset[disabled] .btn-pinterest:active, .btn-pinterest.disabled.active, .btn-pinterest[disabled].active, fieldset[disabled] .btn-pinterest.active {
    background-color: #cb2027;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr {
    color: #fff;
    background-color: #2c4762;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr:hover, .btn-tumblr:focus, .btn-tumblr:active, .btn-tumblr.active, .open .dropdown-toggle.btn-tumblr {
    color: #fff;
    background-color: #1f3346;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr:active, .btn-tumblr.active, .open .dropdown-toggle.btn-tumblr {
    background-image: none
}

.btn-tumblr.disabled, .btn-tumblr[disabled], fieldset[disabled] .btn-tumblr, .btn-tumblr.disabled:hover, .btn-tumblr[disabled]:hover, fieldset[disabled] .btn-tumblr:hover, .btn-tumblr.disabled:focus, .btn-tumblr[disabled]:focus, fieldset[disabled] .btn-tumblr:focus, .btn-tumblr.disabled:active, .btn-tumblr[disabled]:active, fieldset[disabled] .btn-tumblr:active, .btn-tumblr.disabled.active, .btn-tumblr[disabled].active, fieldset[disabled] .btn-tumblr.active {
    background-color: #2c4762;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter {
    color: #fff;
    background-color: #2ba9e1;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter {
    color: #fff;
    background-color: #1c92c7;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter {
    background-image: none
}

.btn-twitter.disabled, .btn-twitter[disabled], fieldset[disabled] .btn-twitter, .btn-twitter.disabled:hover, .btn-twitter[disabled]:hover, fieldset[disabled] .btn-twitter:hover, .btn-twitter.disabled:focus, .btn-twitter[disabled]:focus, fieldset[disabled] .btn-twitter:focus, .btn-twitter.disabled:active, .btn-twitter[disabled]:active, fieldset[disabled] .btn-twitter:active, .btn-twitter.disabled.active, .btn-twitter[disabled].active, fieldset[disabled] .btn-twitter.active {
    background-color: #2ba9e1;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk {
    color: #fff;
    background-color: #587ea3;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk:hover, .btn-vk:focus, .btn-vk:active, .btn-vk.active, .open .dropdown-toggle.btn-vk {
    color: #fff;
    background-color: #4a6a89;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk:active, .btn-vk.active, .open .dropdown-toggle.btn-vk {
    background-image: none
}

.btn-vk.disabled, .btn-vk[disabled], fieldset[disabled] .btn-vk, .btn-vk.disabled:hover, .btn-vk[disabled]:hover, fieldset[disabled] .btn-vk:hover, .btn-vk.disabled:focus, .btn-vk[disabled]:focus, fieldset[disabled] .btn-vk:focus, .btn-vk.disabled:active, .btn-vk[disabled]:active, fieldset[disabled] .btn-vk:active, .btn-vk.disabled.active, .btn-vk[disabled].active, fieldset[disabled] .btn-vk.active {
    background-color: #587ea3;
    border-color: rgba(0, 0, 0, 0.2)
}

/*
 * Only for this example - not needed for the buttons
 * ----------------------------------------------------- */

.btn-social-icon {
    margin-bottom: 4px;
}

.social-class .social-hex {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 10px;
    opacity: .3;
    float: right
}

.social-class li {
    margin-bottom: 4px;
    font-family: lato !important;
}

.social-class li:hover .social-hex {
    opacity: 1;
    font-family: lato !important;
}

.social-class li:hover code {
    background-color: #e8e8ee
}

.social-class code {
    cursor: default;
    font-family: lato !important;
}

/*Buttons With Labels*/

.btn-label {
    position: relative;
    left: -14px;
    display: inline-block;
    padding: 6px 15px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}

.button-primary, .button-primary:hover, .button-primary:focus {
    background-color: #418BCA;
    color: #fff;
}

.button-warning, .button-warning:hover, .button-warning:focus {
    background-color: #F89A14;
    color: #fff;
}

.button-success, .button-success:hover, .button-success:focus {
    background-color: #01BC8C;
    color: #fff;
}

.button-info, .button-info:hover, .button-info:focus {
    background-color: #67C5DF;
    color: #fff;
}

.button-danger, .button-danger:hover, .button-danger:focus {
    background-color: #EF6F6C;
    color: #fff;
}

.button-default, .button-default:hover, .button-default:focus {
    background-color: #A9B6BC;
    color: #424242;
}

.button:visited {
    border: 1px solid #418BCA;
    background-color: inherit;
}

.button-large.button-circle {
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 24px;
    color: #fff;
}

.button-border.button-primary, .button-border.button-primary:hover, .button-border.button-primary:focus {
    border: 1px solid #418BCA;
    background-color: #fff;
    color: #418BCA;
}

.button-border.button-success, .button-border.button-success:hover, .button-border.button-success:focus {
    border: 1px solid #01BC8C !important;
    background-color: #fff;
    color: #01BC8C;
}

.button-border.button-info, .button-border.button-info:hover, .button-border.button-info:focus {
    border: 1px solid #67C5DF;
    background-color: #fff;
    color: #67C5DF;
}

.button-border.button-warning, .button-border.button-warning:hover, .button-border.button-warning:focus {
    border: 1px solid #F89A14;
    background-color: #fff;
    color: #F89A14 !important;
}

.button-border.button-danger, .button-border.button-danger:hover, .button-border.button-danger:focus {
    border: 1px solid #EF6F6C;
    background-color: #fff;
    color: #EF6F6C;
}

.button-border.button-default, .button-border.button-default:hover, .button-border.button-default:focus {
    border: 1px solid #A9B6BC;
    background-color: #fff;
    color: #A9B6BC;
}

.list-inline {
    margin-left: 5% !important;
}

.list-inline li {
    margin-bottom: 10px;
}




.btn-icon-left{
    padding-left:0
}
.btn-icon-left span{
    left:-18px;
}

.btn-icon-right{
    padding-right:0;
}
.btn-icon-right span{
    position:relative !important;
    left:14px;
    border-radius:0;
}